.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--bg-brand);
  cursor: pointer;
  border: 1px solid var(--bg-brand);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &:focus-visible {
    color: var(--bg-hover-primary);
    border-color: var(--bg-hover-primary);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:active:not(:disabled) {
    color: var(--bg-hover-primary);
    border-color: var(--bg-hover-primary);
    scale: 0.95;
  }

  &:hover:not(:disabled) {
    color: var(--bg-hover-primary);
    border-color: var(--bg-hover-primary);
  }
}
