.page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 100%;
  padding: 50px;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
