.screen {
  @include screen;

  gap: 20px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include tablet {
    flex-flow: row wrap;
    gap: 40px;
  }
}
