.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  overflow: auto;
  background-color: white;
  border: var(--border-light);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  transition: all 0.3s ease;

  &:hover {
    scale: 1.02;
  }

  &:active {
    scale: 1.02;
  }
}
